<div class="border-left"></div>
<div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeydown="HandleKeyPress" style="@_gameDimensions">
    <div class="border-top"></div>
    <div class="sky" style="@_skyDimensions">
        <Bird Model="_gameManager.Bird" />
        @foreach (var pipe in _gameManager.IncomingPipes)
        {    
            <Pipe Model="pipe"/>
        }
    </div>
    <div class="ground"></div>
</div>
<div class="border-right"></div>
@code {
    GameManager _gameManager;
    string _gameDimensions => $"width: {_gameManager.GameWidth}px; height: {_gameManager.GameHeight}px";
    string _skyDimensions => $"width: {_gameManager.GameWidth}px; height: {_gameManager.SkyHeight}px";
    string _score = GameManager.Score.ToString();
    protected override void OnInitialized() {
        _gameManager = new GameManager();
        _gameManager.MainLoopCompleted += (o,e) => StateHasChanged();
    }

    void HandleKeyPress(KeyboardEventArgs e) {
        if (e.Key == " ") {
            _gameManager.TryFlap();
        }
    }
}