<div class="pipe" id="top-pipe" style="@_pipeTopCss"></div>
<div class="pipe" id="bottom-pipe" style="@_pipeBottomCss"></div>


@code {
    [Parameter] public PipeModel Model {get; set;}
    string _pipeBottomCss => $"left: {Model.DistanceFromLeft}px; top: {Model.DistanceFromTop}px; height: {730 - Model.DistanceFromTop}px";
    string _pipeTopCss => $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom}px; height: {580 - Model.DistanceFromBottom}px";
}